@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-300.woff');
    src: url('../fonts/MuseoSansCyrl-300.woff?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-300.woff') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-500.woff');
    src: url('../fonts/MuseoSansCyrl-500.woff?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-500.woff') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl-700.woff');
    src: url('../fonts/MuseoSansCyrl-700.woff?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl-700.woff') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2hybhb');
    src:  url('../fonts/icomoon.eot?2hybhb#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2hybhb') format('truetype'),
      url('../fonts/icomoon.woff?2hybhb') format('woff'),
      url('../fonts/icomoon.svg?2hybhb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-fb:before {
    content: "\e901";
    color: #fff;
  }
  .icon-instagram:before {
    content: "\e902";
    color: #fff;
  }
  .icon-pinterest:before {
    content: "\e905";
    color: #fff;
  }
  .icon-cup:before {
    content: "\e900";
    color: #c70101;
    font-size: 60px;
  }
  .icon-handcart:before {
    content: "\e903";
    color: #fff;
    font-size: 46px;
  }
  .icon-heart:before {
    content: "\e904";
    color: #c70101;
    font-size: 60px;
  }
  .icon-message:before {
    content: "\e909";
    color: #fff;
    font-size: 46px;
  }
  .icon-shoe:before {
    content: "\e90c";
    color: #c70101;
    font-size: 60px;
  }
  .icon-timer:before {
    content: "\e90d";
    color: #fff;
    font-size: 46px;
  }  